<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заголовок страницы</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body style="background: pink">
  <div class="jumbotron">
    <div class="container">
      <h1>Поздравляем с 8 марта!</h1>
        {%  block content %}
      {%  endblock %}
      <p>
      </p>
    </div>
  </div>
  <div class="container">
  	<img src="{% static 'postcard/image/nice.png' %}" class="img-thumbnail">
    <hr>
  </div>
</body>
</html>